@media only screen and (max-width: 1000px){
    .section-users{
      flex-direction: column;
    }
    .grid1{
        
    }
    .g-col-6{
        height: fit-content;
        font-size: 14px;
    }
    .work{
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .work-col{
        margin: 25px 0;
    }
    .infobox{
        height: 80vh;
        padding: 80px 20px;
    }
    .offer{
        flex-direction: column-reverse;
    }
    .offer-text{
        max-width: 100%;
        font-size: 14px;
    }
    .offer-slider{
        max-width: 100%;
    }

  }

  @media only screen and (max-width: 723px){
  .lists{
     flex-direction: column;
     align-items: center;
     padding-bottom: 50px;
     text-align: center;
     line-height: 30px;
  }
  .service-list{
      margin: 0;
  }
  .infobox{
      height: 50vh;
  }
  .infobox-text{
    padding-top: 50px;
  }
  .grid1{
    flex-direction: column;
    height: fit-content;
}
.g-col-6{
    margin-top: 20px;
    padding: 30px 15px;
    width: 80%;
}
 
}
@media(min-width:815px){
    .divnumber p{
        margin: 0 30%;
    }
  }
    